{% load static %}

<!-- Title Meta -->
<meta charset="utf-8" />
<title>{% block title %}ShopSmart{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="A fully responsive premium Bootstrap admin dashboard template for modern web applications." />
<meta name="author" content="FoxPixel" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="{% static 'frontend/assets/images/favicon1.png' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link href="{% static 'frontend/assets/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'frontend/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'frontend/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'frontend/assets/js/config.min.js' %}"></script>
