<!-- Required meta tags -->
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="csrf-token" content="{{ csrf_token }}">
<title>{% block title %}Customer Dashboard{% endblock %}</title>
<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
<!-- End plugin css for this page -->
<!-- Layout styles -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- End layout styles -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
