<!-- partial:partials/_sidebar.html -->
{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{% url 'customers:dashboard' %}">
      <img src="{% static 'assets/images/logo.svg' %}" alt="logo" />
    </a>
    <a class="sidebar-brand brand-logo-mini" href="{% url 'customers:dashboard' %}">
      <img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" />
    </a>
  </div>
  <ul class="nav">
    <!-- Profile Dropdown -->
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle" src="{{ request.user.profile_picture.url }}" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">{{ request.user.get_full_name|default:request.user.username }}</h5>
            <span>Customer</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="{% url 'shops:profile' %}" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-account text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Profile Settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'shops:change_password' %}" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-lock text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'accounts:logout' %}" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-danger"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
            </div>
          </a>
        </div>
      </div>
    </li>

    <!-- Navigation -->
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>

    <!-- Dashboard -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'customers:dashboard' %}">
        <span class="menu-icon"><i class="mdi mdi-speedometer"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- products -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'customers:product_list' %}">
        <span class="menu-icon"><i class="mdi mdi-menu"></i></span>
        <span class="menu-title">products</span>
      </a>
    </li>

    <!-- Wishlist -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'customers:wishlist' %}">
        <span class="menu-icon"><i class="mdi mdi-heart-outline"></i></span>
        <span class="menu-title">Wishlist</span>
      </a>
    </li>

    <!-- My Orders -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="">
        <span class="menu-icon"><i class="mdi mdi-cart-outline"></i></span>
        <span class="menu-title">Messages</span>
      </a>
    </li>

    <!-- Profile -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="">
        <span class="menu-icon"><i class="mdi mdi-account-circle-outline"></i></span>
        <span class="menu-title">Profile</span>
      </a>
    </li>
  </ul>
</nav>
<!-- partial -->
